@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'ABeeZee';
    src: url('fonts/ABeeZee.ttf') format('truetype');
}

@font-face {
    font-family: 'Ballistone';
    src: url('fonts/Ballistone.ttf') format('truetype');
}

@font-face {
    font-family: 'Blacksword';
    src: url('fonts/Blacksword.otf') format('opentype');
}

@font-face {
    font-family: 'LegoHouse';
    src: url('fonts/KGLegoHouse.ttf') format('truetype');
}

@font-face {
    font-family: 'MadelinaScript';
    src: url('fonts/MadelinaScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nathan';
    src: url('fonts/Nathan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rochester';
    src: url('fonts/Rochester-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sweety';
    src: url('fonts/Sweety.ttf') format('truetype');
}

@font-face {
    font-family: 'SweetyStrawberry';
    src: url('fonts/SweetyStrawberry.ttf') format('truetype');
}

@font-face {
    font-family: 'TastefulSandwich';
    src: url('fonts/Tasteful Sandwich.otf') format('opentype');
}

@font-face {
    font-family: 'TheQueen';
    src: url('fonts/TheQueen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TimberlyScript';
    src: url('fonts/TimberlyScript.ttf') format('truetype');
}

/* Basic styling */
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px;
}

.font-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.non-script-fonts,
.script-fonts {
    flex: 1;
    min-width: 300px; /* Ensure columns don't get too narrow */
    padding: 20px;
}

/* Style for font previews */
.font-preview {
    margin: 10px 0;
    font-size: 36px;
    position: relative;
    display: block;
}

.font-preview::after {
    content: attr(data-font-name);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.font-preview:hover::after {
    visibility: visible;
    opacity: 1;
}

/* Font styles for each font family */
.abeezee {
    font-family: 'ABeeZee', sans-serif;
    font-size: 36px;
}

.ballistone {
    font-family: 'Ballistone', cursive;
    font-size: 36px;
}

.blacksword {
    font-family: 'Blacksword', cursive;
    font-size: 36px;
}

.centurygothic {
    font-family: 'Century Gothic', sans-serif;
    font-size: 36px;
}

.legohouse {
    font-family: 'LegoHouse', sans-serif;
    font-size: 36px;
}

.nathan {
    font-family: 'Nathan', cursive;
    font-size: 36px;
}

.rochester {
    font-family: 'Rochester', cursive;
    font-size: 36px;
}

.sweety {
    font-family: 'Sweety', cursive;
    font-size: 36px;
}

.sweetystrawberry {
    font-family: 'SweetyStrawberry', cursive;
    font-size: 36px;
}

.tastefulsandwich {
    font-family: 'TastefulSandwich', cursive;
    font-size: 36px;
}

.madelinascript {
    font-family: 'MadelinaScript', cursive;
    font-size: 36px;
}

.timberlyscript {
    font-family: 'TimberlyScript', cursive;
    font-size: 36px;
}

.thequeen {
    font-family: 'TheQueen', cursive;
    font-size: 36px;
}

