@font-face {
    font-family: 'ABeeZee';
    src: url('https://geauxengrave.github.io/font-preview/fonts/ABeeZee.ttf') format('truetype');
}

@font-face {
    font-family: 'Ballistone';
    src: url('https://geauxengrave.github.io/font-preview/fonts/Ballistone.ttf') format('truetype');
}

@font-face {
    font-family: 'Blacksword';
    src: url('https://geauxengrave.github.io/font-preview/fonts/Blacksword.otf') format('opentype');
}

@font-face {
    font-family: 'LegoHouse';
    src: url('https://geauxengrave.github.io/font-preview/fonts/LegoHouse.ttf') format('truetype');
}

@font-face {
    font-family: 'MadelinaScript';
    src: url('https://geauxengrave.github.io/font-preview/fonts/MadelinaScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Nathan';
    src: url('https://geauxengrave.github.io/font-preview/fonts/Nathan.ttf') format('truetype');
}

@font-face {
    font-family: 'Rochester';
    src: url('https://geauxengrave.github.io/font-preview/fonts/Rochester.ttf') format('truetype');
}

@font-face {
    font-family: 'Sweety';
    src: url('https://geauxengrave.github.io/font-preview/fonts/Sweety.ttf') format('truetype');
}

@font-face {
    font-family: 'SweetyStrawberry';
    src: url('https://geauxengrave.github.io/font-preview/fonts/SweetyStrawberry.ttf') format('truetype');
}

@font-face {
    font-family: 'TastefulSandwich';
    src: url('https://geauxengrave.github.io/font-preview/fonts/TastefulSandwich.otf') format('opentype');
}

@font-face {
    font-family: 'TheQueen';
    src: url('https://geauxengrave.github.io/font-preview/fonts/TheQueen.ttf') format('truetype');
}

@font-face {
    font-family: 'TimberlyScript';
    src: url('https://geauxengrave.github.io/font-preview/fonts/TimberlyScript.ttf') format('truetype');
}

.lego-house {
    font-family: 'LegoHouse', cursive;
    font-size: 36px;
}

.abeezee {
    font-family: 'ABeeZee', sans-serif;
    font-size: 36px;
}

.ballistone {
    font-family: 'Ballistone', cursive;
    font-size: 36px;
}

.blacksword {
    font-family: 'Blacksword', cursive;
    font-size: 36px;
}

.madelinascript {
    font-family: 'MadelinaScript', cursive;
    font-size: 36px;
}

.nathan {
    font-family: 'Nathan', sans-serif;
    font-size: 36px;
}

.rochester {
    font-family: 'Rochester', serif;
    font-size: 36px;
}

.sweety {
    font-family: 'Sweety', cursive;
    font-size: 36px;
}

.sweety-strawberry {
    font-family: 'SweetyStrawberry', cursive;
    font-size: 36px;
}

.tasteful-sandwich {
    font-family: 'TastefulSandwich', cursive;
    font-size: 36px;
}

.thequeen {
    font-family: 'TheQueen', cursive;
    font-size: 36px;
}

.timberscript {
    font-family: 'TimberlyScript', cursive;
    font-size: 36px;
}
