@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face { font-family: 'ABeeZee'; src: url('fonts/ABeeZee.ttf') format('truetype'); }
@font-face { font-family: 'Ballistone'; src: url('fonts/Ballistone.ttf') format('truetype'); }
@font-face { font-family: 'Blacksword'; src: url('fonts/Blacksword.otf') format('opentype'); }
@font-face { font-family: 'LegoHouse'; src: url('fonts/LegoHouse.ttf') format('truetype'); }
@font-face { font-family: 'MadelinaScript'; src: url('fonts/MadelinaScript.ttf') format('truetype'); }
@font-face { font-family: 'Nathan'; src: url('fonts/Nathan.ttf') format('truetype'); }
@font-face { font-family: 'Rochester'; src: url('fonts/Rochester.ttf') format('truetype'); }
@font-face { font-family: 'Sweety'; src: url('fonts/Sweety.ttf') format('truetype'); }
@font-face { font-family: 'SweetyStrawberry'; src: url('fonts/SweetyStrawberry.ttf') format('truetype'); }
@font-face { font-family: 'TastefulSandwich'; src: url('fonts/TastefulSandwich.otf') format('opentype'); }
@font-face { font-family: 'TheQueen'; src: url('fonts/TheQueen.ttf') format('truetype'); }
@font-face { font-family: 'TimberlyScript'; src: url('fonts/TimberlyScript.ttf') format('truetype'); }

#textInput {
    width: 80%; 
    max-width: 600px; 
    padding: 10px; 
    font-size: 20px; 
    margin-bottom: 20px; 
    box-sizing: border-box;
}

h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Basic styling */
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px;
}

.font-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.non-script-fonts,
.script-fonts {
    flex: 1;
    min-width: 300px; /* Ensure columns don't get too narrow */
    padding: 20px;
}

/* Style for font previews */
.font-preview {
    margin: 10px 0;
    font-size: 36px;
    position: relative;
    display: block;
}

.font-preview::after {
    content: attr(data-font-name);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.font-preview:hover::after {
    visibility: visible;
    opacity: 1;
}

/* Font styles for each font family */
.abeezee { font-family: 'ABeeZee', sans-serif; }
.ballistone { font-family: 'Ballistone', cursive; }
.bellmt { font-family: 'Bell MT', serif; }
.blacksword { font-family: 'Blacksword', cursive; }
.centurygothic { font-family: 'Century Gothic', sans-serif; }
.centuryschoolbook { font-family: 'Century Schoolbook', serif; }
.dubai { font-family: 'Dubai', sans-serif; }
.legohouse { font-family: 'LegoHouse', sans-serif; }
.nathan { font-family: 'Nathan', cursive; }
.rochester { font-family: 'Rochester', cursive; }
.sweety { font-family: 'Sweety', cursive; }
.sweetystrawberry { font-family: 'SweetyStrawberry', cursive; }
.tastefulsandwich { font-family: 'TastefulSandwich', cursive; }
.madelinascript { font-family: 'MadelinaScript', cursive; }
.timberlyscript { font-family: 'TimberlyScript', cursive; }
.thequeen { font-family: 'TheQueen', cursive; }
