@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face { font-family: 'ABeeZee'; src: url('fonts/ABeeZee.ttf') format('truetype'); }
@font-face { font-family: 'Aglonema'; src: url('fonts/Aglonema.otf') format('opentype'); }
@font-face { font-family: 'Aichella'; src: url('fonts/Aichella.ttf') format('truetype'); }
@font-face { font-family: 'Ballistone'; src: url('fonts/Ballistone.ttf') format('truetype'); }
@font-face { font-family: 'BasyirahScript'; src: url('fonts/BasyirahScript.ttf') format('truetype'); }
@font-face { font-family: 'BigLove'; src: url('fonts/BigLove.ttf') format('truetype'); }
@font-face { font-family: 'Blacksword'; src: url('fonts/Blacksword.otf') format('opentype'); }
@font-face { font-family: 'CattyMagic'; src: url('fonts/CattyMagic.ttf') format('truetype'); }
@font-face { font-family: 'ChickenTurkey'; src: url('fonts/ChickenTurkey.ttf') format('truetype'); }
@font-face { font-family: 'Cookie'; src: url('fonts/Cookie.ttf') format('truetype'); }
@font-face { font-family: 'Cupcake'; src: url('fonts/Cupcake.ttf') format('truetype'); }
@font-face { font-family: 'HeyButterfly'; src: url('fonts/HeyButterfly.ttf') format('truetype'); }
@font-face { font-family: 'LegoHouse'; src: url('fonts/LegoHouse.ttf') format('truetype'); }
@font-face { font-family: 'LittleJoy'; src: url('fonts/LittleJoy.ttf') format('truetype'); }
@font-face { font-family: 'MadelinaScript'; src: url('fonts/MadelinaScript.ttf') format('truetype'); }
@font-face { font-family: 'Nathan'; src: url('fonts/Nathan.ttf') format('truetype'); }
@font-face { font-family: 'Rochester'; src: url('fonts/Rochester.ttf') format('truetype'); }
@font-face { font-family: 'Sweety'; src: url('fonts/Sweety.ttf') format('truetype'); }
@font-face { font-family: 'SweetyStrawberry'; src: url('fonts/SweetyStrawberry.ttf') format('truetype'); }
@font-face { font-family: 'TastefulSandwich'; src: url('fonts/TastefulSandwich.otf') format('opentype'); }
@font-face { font-family: 'TheQueen'; src: url('fonts/TheQueen.ttf') format('truetype'); }
@font-face { font-family: 'TimberlyScript'; src: url('fonts/TimberlyScript.ttf') format('truetype'); }
@font-face { font-family: 'WhattheTeacherWants'; src: url('fonts/WhattheTeacherWants.ttf') format('truetype'); }

#textInput {
    width: 80%; 
    max-width: 600px; 
    padding: 10px; 
    font-size: 20px; 
    margin-bottom: 10px; 
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.font-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.non-script-fonts,
.script-fonts {
    flex: 1;
    min-width: 50px; 
    padding: 20px;
}

.font-preview {
    margin: 10px 0;
    font-size: 36px;
    position: relative;
    display: block;
}

.font-preview::after {
    content: attr(data-font-name);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 24px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.font-preview:hover::after {
    visibility: visible;
    opacity: 1;
}

.abeezee { font-family: 'ABeeZee', sans-serif; }
.aglonema { font-family: 'Aglonema', serif; }
.aichella { font-family: 'Aichella', sans-serif; }
.ballistone { font-family: 'Ballistone', cursive; }
.basyirahscript { font-family: 'BasyirahScript', cursive; }
.bellmt { font-family: 'Bell MT', serif; }
.blacksword { font-family: 'Blacksword', cursive; }
.biglove { font-family: 'BigLove', cursive; }
.cattymagic { font-family: 'CattyMagic', cursive; }
.chickenturkey { font-family: 'ChickenTurkey', cursive; }
.cookie { font-family: 'Cookie', cursive; }
.cupcake { font-family: 'Cupcake', cursive; }
.dubai { font-family: 'Dubai', sans-serif; }
.heybutterfly { font-family: 'HeyButterfly', cursive; }
.legohouse { font-family: 'LegoHouse', sans-serif; }
.littlejoy { font-family: 'LittleJoy', cursive; }
.madelinascript { font-family: 'MadelinaScript', cursive; }
.nathan { font-family: 'Nathan', cursive; }
.rochester { font-family: 'Rochester', cursive; }
.sweety { font-family: 'Sweety', cursive; }
.sweetystrawberry { font-family: 'SweetyStrawberry', cursive; }
.tastefulsandwich { font-family: 'TastefulSandwich', cursive; }
.thequeen { font-family: 'TheQueen', cursive; }
.timberlyscript { font-family: 'TimberlyScript', cursive; }
.whattheteacherwants { font-family: 'WhattheTeacherWants', cursive; }
